In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [3]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [4]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [5]:
df.loc['cobra', 'shield']

2

In [6]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [7]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [8]:
df.loc[pd.Series([False, True, False],
                 index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [10]:
df.loc[pd.Index(["cobra", "viper"], name="foo")]

       max_speed  shield
foo
cobra          1       2
viper          4       5

In [11]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [12]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [13]:
df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]

       max_speed  shield
viper          4       5

In [14]:
df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [15]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [16]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [17]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [18]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [19]:
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [20]:
df.loc["viper", "shield"] += 5
df

            max_speed  shield
cobra              30      10
viper               0       5
sidewinder          0       0

In [21]:
## https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html#pandas.DataFrame.loc (link)

### ILOC

#### Purely integer-location based indexing for selection by position.

In [22]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [23]:
type(df.iloc[0])

pandas.core.series.Series

In [25]:
type(df.iloc[1])

pandas.core.series.Series

In [24]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [26]:
df.iloc[1]

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

In [27]:
df.iloc[2] ## it gives series

a    1000
b    2000
c    3000
d    4000
Name: 2, dtype: int64

In [28]:
df.iloc[[0]]   ## it gives DataFrame

   a  b  c  d
0  1  2  3  4

In [29]:
type(df.iloc[[0]])

pandas.core.frame.DataFrame

In [33]:
df.iloc[[0,1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [34]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [35]:
df.iloc[1:3]

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000

In [36]:
df.iloc[[True, False, True]]  ## 0,1,2

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [37]:
df.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [38]:
df.iloc[0, 1]

2

In [39]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [40]:
df.iloc[1:3, 0:3]

      a     b     c
1   100   200   300
2  1000  2000  3000

In [41]:
df.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

In [42]:
df.iloc[:, lambda df: [0, 2]]

      a     c
0     1     3
1   100   300
2  1000  3000